body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
}

.navbar .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.navbar .menu a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.product-card {
    display: flex;
    align-items: center;
    background-color: #f5f8ef;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 1200px;
}

.product-card img {
    max-width: 200px;
    margin-right: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-info h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.product-info p {
    margin: 10px 0;
    color: #666;
}

.product-info button {
    background-color: #f08370;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.product-info button:hover {
    background-color: #e3725b;
}
